<table>
    <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Direccion</th>
        <th>View</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentList">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.email}}</td>
            <td>{{student.address}}</td>
            <td><button type="button">Ver mas</button></td>
        </tr>
    </tbody>
</table>